@charset "UTF-8";

*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
h1{
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: white;
}
a{
    text-decoration: none;
    color: chartreuse;
}